* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
    font-family: monospace;
}

body {
    background: black;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: black;
}

.logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a:active {
    color: green;
}

.home {
    height: 100vh;
    /*background: ;*/
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    background: transparent;
    max-width: 800px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: green;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    max-width: 600px;

}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: transparent;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    font-size: 19px;
    color: #242424;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #ffffff;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2):before {
    background: #ffffff;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #202020;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.btn-box a:hover {
    color: #ffffff;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.line {
    position: absolute;
    width: 80%;
    border: 1px dashed;
    margin-top: 3%;
}

.line::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}

.blink {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.tree {
    position: relative;
    --spacing: 1.5rem;
    --radius: 10px;
    margin: 5%;
    font-size: 26px;
    margin-bottom: 0px;
}

.tree li {
    display: block;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
    margin: 3%;
}

.tree ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
    margin-top: 1%;
}

.tree ul li {
    border-left: 2px solid #ddd;
    border-bottom: 1px solid;
    /* border-top: 2px solid; */
    /* border: 1px solid; */
    border-bottom-width: thin;
    /* width: fit-content; */
    margin: 2%;
}

.ul-head {}

/*
.tree ul li:last-child {
    border-color: transparent;
}
*/
li div {
    padding-left: 1em;
    position: relative;
}

li div::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 50%;
    width: 0.75em;
    border: 2px solid #000;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

/*
ul>li:last-child {
    border-left: 2px solid transparent;
}
*/
.tree ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -2);
    left: -2px;
    width: calc(var(--spacing) + 2px);
    height: calc(var(--spacing) + 1px);
    border: solid #ddd;
    border-width: 0 0 2px 2px;
}

.tree::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showTop 1s ease forwards;
    animation-delay: .6s;
}

.tree::before::after {
    background: transparent;
}

#dad-1 {
    border-bottom: 0px;
    padding-top: 4%;
}

#dad-2 {
    border-bottom: 0px;
    padding-top: 4%;
}

.column {
    width: 50%;
    height: 100%;
}

.column-icons {
    width: 50%;
    height: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.column-icons:hover {
    background-color: green;
    color: white;
}

.about-content {
    display: flex;
    padding: 0 10%;
    padding-top: 7%;
}

.about-content h1 {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}

.about-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.about-experience-info {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    font-size: 20px;
}

.about-experience-info-tasks {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.about-column-ml {
    float: left;
    text-align: center;
    border: 1px solid white;
    width: 50%;
}

.about-column-m2 {
    border: 1px solid white;
    text-align: center;
}

.about-column-bg {
    float: left;
    width: 34%;
    text-align: center;

}

.about-experience {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    margin: 1%;
    margin: 5%;
    width: 90%;
    border-color: white;
    border: 1px dashed;
}

.about-experience-title {
    font-size: 35px;
    text-align: center;
    border: 1px solid;
}

.about-tasks {
    margin: 4%;
    border-bottom: 1px solid white;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 5%;
    font-size: 20px;
    width: 91%;
}

th {
    font-size: 26px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.about-h1 {
    font-size: 32px;
}

.cmd {
    color: green;
}

.contact-div {
    margin: 5%;
}

.row {
    display: flex;
    height: 10%;
    border: 1px solid;
    align-items: center;
}

.row:hover {
    color: green;
    cursor: pointer;
}

.title-icon {
    padding: 5%;
}

.contact-h1 {
    font-size: 32px;
}

.contact-icon {
    justify-content: space-between;
    padding-left: 5%;
}


.contact-icon span {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.contact-icon span:hover {
    color: #081b29;
}

.contact-icon span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    transition: .5s;
}

a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.contact-icon span:hover::before {
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    border: 1px solid white;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 27px;
    left: 100%;
}

#spanCopyIdSuccess {
    color: green;
    border-color: green;
}

.home-pfp {
    position: absolute;
    right: 10%;
    width: 90vh;
    z-index: -1;
}

.home-pfp-filters {
    filter: grayscale(100%);
    width: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes showTop {

    100% {
        transform: translateY(100%);
        background: transparent;
        z-index: -1;
    }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}